html, body {
    height: 100%;
}


body {
    margin: 0;
    display: grid;
    
}

section > div {
    padding: 10px;
}

header {
    background-color: royalblue;
    color: gold;
    padding: 20px;
    display: flex;
    justify-content: center;

}

.titles-requested {
    font-size: 18px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section > form {
    padding: 20px;
}

footer {
    background-color: royalblue;
    color: gold;
    padding: 20px;
    display: flex;
    justify-content: center
}